h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial Black (sans-serif);
    color: #191970;
  }

h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial Black (sans-serif);
    color: #191970;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 10px;
    padding: 30px;
    background-color: #F0EAD6;
    font-family: Arial Black (sans-serif);
    
    
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
  }
.info {
    display: flex;
}
#info {
    margin: 10px;
    padding: 30px;
    background-color: #f5deb3;
   
   
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
   
      
}
.sticky-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #F5B7B1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
  .fa-home:before {
    content: "\f015";
  }
  
  .line {
    margin: 10px;
    border-bottom: 1px solid #F5B7B1;
    padding: 40px;
  }
  

.title2 {
    display: flex;
}

#title2 {
    justify-content: left;
}