@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial Black (sans-serif);
    color: black;
  }

h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial Black (sans-serif);
    color: black;
    margin: 10px;
    margin-left: 10px;
}

h3 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial Black (sans-serif);
    color: black;
    margin: 10px;
    margin-left: 10px;
}



.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 10px;
    padding: 10px;
    background-color: #F0EAD6;
    font-family: Arial Black (sans-serif);
    
    
  }
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
  }

.sticky-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #F5B7B1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
  .fa-home:before {
    content: "\f015";
    
  }
  
  .line {
    margin: 10px;
    border-bottom: 1px solid #F5B7B1;
    padding: 40px;
    padding-left: 1px;
 
   
  }
  

.title2 {
    display: flex;
}

#title2 {
    justify-content: left;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    
    bottom: 0;
    width: 100%;
    height: 60px; /* adjust the height to your liking */
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  p {
    margin: 0;
    font-size: 18px; /* adjust the font size to your liking */
    line-height: 1.5;
  }
  .me {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


  .profile-picture {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(meprof.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
  }
  
  .bio {

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    
    
  }
  


